{"openapi":"3.1.0","info":{"title":"GitHub Skills Registry","description":"Read trusted skills and repositories, perform selected authenticated GitHub repository writes, inspect pull requests, and read GitHub Actions evidence with the configured GitHub token.","version":"1.3.0"},"servers":[{"url":"https://api.github.com"}],"paths":{"/repos/riggeyb/skills/contents/registry.yaml":{"get":{"operationId":"getSkillsRegistry","summary":"Load the trusted skills registry","description":"Load registry.yaml before selecting skills unless a current copy is already in context. It contains skill modes, reviewed refs, triggers, entrypoints, and runtime budgets.","x-openai-isConsequential":false,"parameters":[{"name":"Accept","in":"header","required":false,"schema":{"type":"string","enum":["application/vnd.github.raw+json"],"default":"application/vnd.github.raw+json"}}],"responses":{"200":{"description":"Raw UTF-8 repository content","content":{"application/vnd.github.raw+json":{"schema":{"type":"string"}},"text/plain":{"schema":{"type":"string"}}}},"403":{"description":"Rate limit or access denied"},"404":{"description":"Path not found"}}}},"/repos/riggeyb/skills/contents/policies/skill-loading.md":{"get":{"operationId":"getSkillLoadingPolicy","summary":"Load the skill trust and loading policy","description":"Load before following instruction or hybrid skills when the policy is not already current in context.","x-openai-isConsequential":false,"parameters":[{"name":"Accept","in":"header","required":false,"schema":{"type":"string","enum":["application/vnd.github.raw+json"],"default":"application/vnd.github.raw+json"}}],"responses":{"200":{"description":"Raw UTF-8 repository content","content":{"application/vnd.github.raw+json":{"schema":{"type":"string"}},"text/plain":{"schema":{"type":"string"}}}},"403":{"description":"Rate limit or access denied"},"404":{"description":"Path not found"}}}},"/repos/riggeyb/skills/contents/capabilities.yaml":{"get":{"operationId":"getCapabilitiesManifest","summary":"Load the runtime capability manifest","description":"Use this to distinguish capabilities provided by the current runtime from unavailable or runtime-dependent tools. Skill text never creates a capability.","x-openai-isConsequential":false,"parameters":[{"name":"Accept","in":"header","required":false,"schema":{"type":"string","enum":["application/vnd.github.raw+json"],"default":"application/vnd.github.raw+json"}}],"responses":{"200":{"description":"Raw UTF-8 repository content","content":{"application/vnd.github.raw+json":{"schema":{"type":"string"}},"text/plain":{"schema":{"type":"string"}}}},"403":{"description":"Rate limit or access denied"},"404":{"description":"Path not found"}}}},"/repos/{owner}/{repo}/contents/{path}":{"get":{"operationId":"getRegisteredRepositoryContent","summary":"Fetch repository content","description":"Fetch a text file or directory through GitHub's Contents API. Use raw+json for exact file bytes represented as text, or github+json for metadata including blob SHA and Base64 content.","x-openai-isConsequential":false,"parameters":[{"name":"owner","in":"path","required":true,"schema":{"type":"string"}},{"name":"repo","in":"path","required":true,"schema":{"type":"string"}},{"name":"path","in":"path","required":true,"allowReserved":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"ref","in":"query","required":false,"schema":{"type":"string"}},{"name":"Accept","in":"header","required":false,"schema":{"type":"string","enum":["application/vnd.github.raw+json","application/vnd.github+json"],"default":"application/vnd.github.raw+json"}}],"responses":{"200":{"description":"Raw file content or GitHub content metadata","content":{"application/vnd.github.raw+json":{"schema":{"type":"string"}},"text/plain":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ContentItem"}}}}},"403":{"description":"Rate limit or access denied"},"404":{"description":"Repository, path, or ref not found"}}},"put":{"operationId":"createOrUpdateRepositoryFile","summary":"Create or update a repository file","description":"Create a file by omitting sha, or replace an existing file by supplying its current blob sha. GitHub rejects stale update SHAs instead of silently overwriting newer content.","x-openai-isConsequential":true,"parameters":[{"name":"owner","in":"path","required":true,"schema":{"type":"string"}},{"name":"repo","in":"path","required":true,"schema":{"type":"string"}},{"name":"path","in":"path","required":true,"allowReserved":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"content":{"type":"string","description":"Complete Base64-encoded file content."},"sha":{"type":"string","description":"Current blob SHA when updating an existing file."},"branch":{"type":"string","description":"Branch to write."}},"required":["message","content","branch"]}}}},"responses":{"200":{"description":"File updated"},"201":{"description":"File created"},"409":{"description":"Conflict or stale SHA"},"422":{"description":"Invalid request"}}},"delete":{"operationId":"deleteRepositoryFile","summary":"Delete a repository file","description":"Delete an existing file using its current blob sha and the requested branch. GitHub rejects stale SHAs rather than deleting a concurrently changed version.","x-openai-isConsequential":true,"parameters":[{"name":"owner","in":"path","required":true,"schema":{"type":"string"}},{"name":"repo","in":"path","required":true,"schema":{"type":"string"}},{"name":"path","in":"path","required":true,"allowReserved":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"sha":{"type":"string","description":"Current blob SHA."},"branch":{"type":"string","description":"Branch to write."}},"required":["message","sha","branch"]}}}},"responses":{"200":{"description":"File deleted"},"409":{"description":"Conflict or stale SHA"},"422":{"description":"Invalid request"}}}},"/repos/{owner}/{repo}/contents":{"get":{"operationId":"listRegisteredRepositoryRoot","summary":"List a repository root","description":"List the root directory of a repository through GitHub's Contents API.","x-openai-isConsequential":false,"parameters":[{"name":"owner","in":"path","required":true,"schema":{"type":"string"}},{"name":"repo","in":"path","required":true,"schema":{"type":"string"}},{"name":"ref","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Root directory listing","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ContentItem"}}}}},"403":{"description":"Rate limit or access denied"},"404":{"description":"Repository or ref not found"}}}},"/repos/{owner}/{repo}/git/trees/{tree_sha}":{"get":{"operationId":"discoverRegisteredSkillPaths","summary":"Get a recursive Git tree","description":"Read a Git tree, optionally recursively, to discover repository paths without fetching file contents.","x-openai-isConsequential":false,"parameters":[{"name":"owner","in":"path","required":true,"schema":{"type":"string"}},{"name":"repo","in":"path","required":true,"schema":{"type":"string"}},{"name":"tree_sha","in":"path","required":true,"schema":{"type":"string"}},{"name":"recursive","in":"query","required":false,"schema":{"type":"string","enum":["1"],"default":"1"}}],"responses":{"200":{"description":"Git tree","content":{"application/json":{"schema":{"type":"object","properties":{"sha":{"type":"string"},"truncated":{"type":"boolean"},"tree":{"type":"array","items":{"$ref":"#/components/schemas/TreeItem"}}}}}}},"403":{"description":"Rate limit or access denied"},"404":{"description":"Repository or tree not found"},"409":{"description":"Repository is empty or unavailable"},"422":{"description":"Invalid tree request"}}}},"/repos/{owner}/{repo}/branches/{branch}":{"get":{"operationId":"getRepositoryBranch","summary":"Get a repository branch","description":"Read a branch and its current commit SHA.","x-openai-isConsequential":false,"parameters":[{"name":"owner","in":"path","required":true,"schema":{"type":"string"}},{"name":"repo","in":"path","required":true,"schema":{"type":"string"}},{"name":"branch","in":"path","required":true,"allowReserved":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Branch state","content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"},"protected":{"type":"boolean"},"commit":{"type":"object","properties":{"sha":{"type":"string"},"url":{"type":"string"}}}}}}}},"404":{"description":"Branch not found"}}}},"/repos/{owner}/{repo}/git/refs":{"post":{"operationId":"createRepositoryBranch","summary":"Create a repository branch","description":"Create a Git branch ref from an exact existing commit SHA.","x-openai-isConsequential":true,"parameters":[{"name":"owner","in":"path","required":true,"schema":{"type":"string"}},{"name":"repo","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"ref":{"type":"string","description":"Full ref such as refs/heads/task-name."},"sha":{"type":"string","description":"Exact source commit SHA."}},"required":["ref","sha"]}}}},"responses":{"201":{"description":"Branch created"},"422":{"description":"Invalid or existing ref"}}}},"/repos/{owner}/{repo}/pulls":{"post":{"operationId":"createRepositoryPullRequest","summary":"Create a pull request","description":"Open a pull request from one branch or commit into the requested base branch.","x-openai-isConsequential":true,"parameters":[{"name":"owner","in":"path","required":true,"schema":{"type":"string"}},{"name":"repo","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"title":{"type":"string"},"head":{"type":"string"},"base":{"type":"string"},"body":{"type":"string"},"draft":{"type":"boolean"}},"required":["title","head","base"]}}}},"responses":{"201":{"description":"Pull request created"},"422":{"description":"Invalid pull request"}}}},"/repos/{owner}/{repo}/pulls/{pull_number}":{"get":{"operationId":"getPullRequest","summary":"Get pull request metadata","description":"Read pull request state, head/base refs and SHAs, and aggregate changed-file statistics without modifying the pull request.","x-openai-isConsequential":false,"parameters":[{"name":"owner","in":"path","required":true,"schema":{"type":"string"}},{"name":"repo","in":"path","required":true,"schema":{"type":"string"}},{"name":"pull_number","in":"path","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Pull request metadata","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PullRequest"}}}},"404":{"description":"Pull request not found"}}}},"/repos/{owner}/{repo}/pulls/{pull_number}/files":{"get":{"operationId":"listPullRequestFiles","summary":"List pull request files","description":"Enumerate changed files with status, additions, deletions, and the per-file patch when GitHub includes it in the response.","x-openai-isConsequential":false,"parameters":[{"name":"owner","in":"path","required":true,"schema":{"type":"string"}},{"name":"repo","in":"path","required":true,"schema":{"type":"string"}},{"name":"pull_number","in":"path","required":true,"schema":{"type":"integer"}},{"name":"per_page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":100,"default":100}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1}}],"responses":{"200":{"description":"Changed pull request files","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PullRequestFile"}}}}},"404":{"description":"Pull request not found"}}}},"/repos/{owner}/{repo}/actions/runs":{"get":{"operationId":"listWorkflowRuns","summary":"List workflow runs","description":"List GitHub Actions runs and their exact head SHA, event, branch, workflow name, status, and conclusion. Optional filters narrow the evidence set.","x-openai-isConsequential":false,"parameters":[{"name":"owner","in":"path","required":true,"schema":{"type":"string"}},{"name":"repo","in":"path","required":true,"schema":{"type":"string"}},{"name":"branch","in":"query","required":false,"schema":{"type":"string"}},{"name":"event","in":"query","required":false,"schema":{"type":"string"}},{"name":"status","in":"query","required":false,"schema":{"type":"string"}},{"name":"head_sha","in":"query","required":false,"schema":{"type":"string"}},{"name":"per_page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":100,"default":30}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1}}],"responses":{"200":{"description":"Workflow runs","content":{"application/json":{"schema":{"type":"object","properties":{"total_count":{"type":"integer"},"workflow_runs":{"type":"array","items":{"$ref":"#/components/schemas/WorkflowRun"}}}}}}},"404":{"description":"Repository not found"}}}},"/repos/{owner}/{repo}/actions/runs/{run_id}":{"get":{"operationId":"getWorkflowRun","summary":"Get a workflow run","description":"Read one GitHub Actions run including workflow name, exact head SHA, event, branch, status, and conclusion.","x-openai-isConsequential":false,"parameters":[{"name":"owner","in":"path","required":true,"schema":{"type":"string"}},{"name":"repo","in":"path","required":true,"schema":{"type":"string"}},{"name":"run_id","in":"path","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Workflow run","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowRun"}}}},"404":{"description":"Workflow run not found"}}}},"/repos/{owner}/{repo}/actions/runs/{run_id}/jobs":{"get":{"operationId":"listWorkflowRunJobs","summary":"List workflow run jobs","description":"Enumerate jobs for a workflow run with each job's status, conclusion, and timestamps.","x-openai-isConsequential":false,"parameters":[{"name":"owner","in":"path","required":true,"schema":{"type":"string"}},{"name":"repo","in":"path","required":true,"schema":{"type":"string"}},{"name":"run_id","in":"path","required":true,"schema":{"type":"integer"}},{"name":"filter","in":"query","required":false,"schema":{"type":"string","enum":["latest","all"],"default":"latest"}},{"name":"per_page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":100,"default":100}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1}}],"responses":{"200":{"description":"Workflow jobs","content":{"application/json":{"schema":{"type":"object","properties":{"total_count":{"type":"integer"},"jobs":{"type":"array","items":{"$ref":"#/components/schemas/WorkflowJob"}}}}}}},"404":{"description":"Workflow run not found"}}}},"/repos/{owner}/{repo}/actions/runs/{run_id}/artifacts":{"get":{"operationId":"listWorkflowRunArtifacts","summary":"List workflow run artifacts","description":"Enumerate artifact metadata for one workflow run, including artifact names, IDs, expiry state, and SHA-bound workflow-run metadata when GitHub returns it.","x-openai-isConsequential":false,"parameters":[{"name":"owner","in":"path","required":true,"schema":{"type":"string"}},{"name":"repo","in":"path","required":true,"schema":{"type":"string"}},{"name":"run_id","in":"path","required":true,"schema":{"type":"integer"}},{"name":"name","in":"query","required":false,"schema":{"type":"string"}},{"name":"per_page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":100,"default":100}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1}}],"responses":{"200":{"description":"Workflow artifacts","content":{"application/json":{"schema":{"type":"object","properties":{"total_count":{"type":"integer"},"artifacts":{"type":"array","items":{"$ref":"#/components/schemas/WorkflowArtifact"}}}}}}},"404":{"description":"Workflow run not found"}}}},"/repos/{owner}/{repo}/actions/artifacts/{artifact_id}":{"get":{"operationId":"getWorkflowRunArtifact","summary":"Get workflow artifact metadata","description":"Read metadata for one GitHub Actions artifact. This does not download or inspect the artifact ZIP contents.","x-openai-isConsequential":false,"parameters":[{"name":"owner","in":"path","required":true,"schema":{"type":"string"}},{"name":"repo","in":"path","required":true,"schema":{"type":"string"}},{"name":"artifact_id","in":"path","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Workflow artifact metadata","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowArtifact"}}}},"404":{"description":"Artifact not found"}}}}},"/repos/{owner}/{repo}/commits/{ref}":{"get":{"operationId":"getRepositoryCommit","summary":"Get commit metadata","description":"Read one commit by SHA or ref to establish immutable commit identity and repository metadata.","x-openai-isConsequential":false,"parameters":[{"name":"owner","in":"path","required":true,"schema":{"type":"string"}},{"name":"repo","in":"path","required":true,"schema":{"type":"string"}},{"name":"ref","in":"path","required":true,"allowReserved":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Commit metadata","content":{"application/json":{"schema":{"type":"object","properties":{"sha":{"type":"string"},"html_url":{"type":"string"},"commit":{"type":"object"},"parents":{"type":"array","items":{"type":"object"}}}}}}},"404":{"description":"Commit not found"}}}},"/repos/{owner}/{repo}/commits/{ref}/check-runs":{"get":{"operationId":"listCommitCheckRuns","summary":"List check runs for a commit","description":"List check runs bound to an exact commit SHA, including name, status, conclusion, and GitHub App metadata.","x-openai-isConsequential":false,"parameters":[{"name":"owner","in":"path","required":true,"schema":{"type":"string"}},{"name":"repo","in":"path","required":true,"schema":{"type":"string"}},{"name":"ref","in":"path","required":true,"allowReserved":true,"schema":{"type":"string"}},{"name":"filter","in":"query","required":false,"schema":{"type":"string","enum":["latest","all"],"default":"latest"}},{"name":"per_page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":100,"default":100}}],"responses":{"200":{"description":"Check runs","content":{"application/json":{"schema":{"type":"object","properties":{"total_count":{"type":"integer"},"check_runs":{"type":"array","items":{"type":"object","additionalProperties":true}}}}}}},"404":{"description":"Commit not found"}}}},"/repos/{owner}/{repo}/commits/{ref}/status":{"get":{"operationId":"getCombinedCommitStatus","summary":"Get combined commit status","description":"Read the combined legacy commit status and its individual contexts for an exact SHA or ref.","x-openai-isConsequential":false,"parameters":[{"name":"owner","in":"path","required":true,"schema":{"type":"string"}},{"name":"repo","in":"path","required":true,"schema":{"type":"string"}},{"name":"ref","in":"path","required":true,"allowReserved":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Combined commit status","content":{"application/json":{"schema":{"type":"object","properties":{"state":{"type":"string"},"sha":{"type":"string"},"total_count":{"type":"integer"},"statuses":{"type":"array","items":{"type":"object","additionalProperties":true}}}}}}},"404":{"description":"Commit not found"}}}},"components":{"schemas":{"ContentItem":{"type":"object","properties":{"name":{"type":"string"},"path":{"type":"string"},"sha":{"type":"string"},"size":{"type":"integer"},"type":{"type":"string"},"html_url":{"type":"string"},"download_url":{"type":"string"},"url":{"type":"string"}}},"TreeItem":{"type":"object","properties":{"path":{"type":"string"},"mode":{"type":"string"},"type":{"type":"string"},"sha":{"type":"string"},"size":{"type":"integer"},"url":{"type":"string"}}},"RefInfo":{"type":"object","properties":{"ref":{"type":"string"},"sha":{"type":"string"}}},"PullRequest":{"type":"object","properties":{"number":{"type":"integer"},"state":{"type":"string"},"draft":{"type":"boolean"},"merged":{"type":"boolean"},"mergeable":{"type":"boolean"},"head":{"$ref":"#/components/schemas/RefInfo"},"base":{"$ref":"#/components/schemas/RefInfo"},"changed_files":{"type":"integer"},"additions":{"type":"integer"},"deletions":{"type":"integer"},"html_url":{"type":"string"}}},"PullRequestFile":{"type":"object","properties":{"sha":{"type":"string"},"filename":{"type":"string"},"status":{"type":"string"},"additions":{"type":"integer"},"deletions":{"type":"integer"},"changes":{"type":"integer"},"blob_url":{"type":"string"},"raw_url":{"type":"string"},"contents_url":{"type":"string"},"patch":{"type":"string"}}},"WorkflowRun":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"display_title":{"type":"string"},"workflow_id":{"type":"integer"},"run_number":{"type":"integer"},"event":{"type":"string"},"status":{"type":"string"},"conclusion":{"type":"string"},"head_branch":{"type":"string"},"head_sha":{"type":"string"},"html_url":{"type":"string"},"created_at":{"type":"string"},"updated_at":{"type":"string"}}},"WorkflowJob":{"type":"object","properties":{"id":{"type":"integer"},"run_id":{"type":"integer"},"name":{"type":"string"},"status":{"type":"string"},"conclusion":{"type":"string"},"head_sha":{"type":"string"},"started_at":{"type":"string"},"completed_at":{"type":"string"},"html_url":{"type":"string"}}},"ArtifactWorkflowRun":{"type":"object","properties":{"id":{"type":"integer"},"repository_id":{"type":"integer"},"head_repository_id":{"type":"integer"},"head_branch":{"type":"string"},"head_sha":{"type":"string"}}},"WorkflowArtifact":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"size_in_bytes":{"type":"integer"},"expired":{"type":"boolean"},"archive_download_url":{"type":"string"},"created_at":{"type":"string"},"expires_at":{"type":"string"},"updated_at":{"type":"string"},"workflow_run":{"$ref":"#/components/schemas/ArtifactWorkflowRun"}}}}}}
