{
  "openapi": "3.1.0",
  "info": {
    "title": "GitHub Skills Registry",
    "description": "Read-only access to the trusted riggeyb/skills registry and approved GitHub repositories. Always load the registry first and obey its loading policy.",
    "version": "1.0.1"
  },
  "servers": [
    {
      "url": "https://api.github.com"
    }
  ],
  "paths": {
    "/repos/riggeyb/skills/contents/registry.yaml": {
      "get": {
        "operationId": "getSkillsRegistry",
        "summary": "Load the trusted skills registry",
        "description": "Load registry.yaml before selecting skills unless a fresh copy is already in context.",
        "x-openai-isConsequential": false,
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.github.raw+json"
              ],
              "default": "application/vnd.github.raw+json"
            },
            "description": "Request raw YAML text."
          }
        ],
        "responses": {
          "200": {
            "description": "Raw registry.yaml",
            "content": {
              "application/vnd.github.raw+json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Rate limit or access denied"
          },
          "404": {
            "description": "Registry not found"
          }
        }
      }
    },
    "/repos/riggeyb/skills/contents/policies/skill-loading.md": {
      "get": {
        "operationId": "getSkillLoadingPolicy",
        "summary": "Load the skill trust and loading policy",
        "description": "Load this before following instruction-mode or hybrid skills if it is not already in context.",
        "x-openai-isConsequential": false,
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.github.raw+json"
              ],
              "default": "application/vnd.github.raw+json"
            },
            "description": "Request raw Markdown text."
          }
        ],
        "responses": {
          "200": {
            "description": "Raw policy Markdown",
            "content": {
              "application/vnd.github.raw+json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Rate limit or access denied"
          },
          "404": {
            "description": "Policy not found"
          }
        }
      }
    },
    "/repos/{owner}/{repo}/contents/{path}": {
      "get": {
        "operationId": "getRegisteredRepositoryContent",
        "summary": "Fetch a text file or list a directory from a registered repository",
        "description": "Use only canonical repositories listed in registry.yaml. For a file, use Accept=application/vnd.github.raw+json. For a directory, use Accept=application/vnd.github+json. Follow entrypoints, skill_globs, reference_globs, and the loading policy.",
        "x-openai-isConsequential": false,
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Canonical owner from registry.yaml."
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Canonical repo from registry.yaml."
          },
          {
            "name": "path",
            "in": "path",
            "required": true,
            "allowReserved": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "description": "Repository-relative file or directory path; may contain forward slashes."
          },
          {
            "name": "ref",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional branch, tag, or commit. Omit to use the default branch."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.github.raw+json",
                "application/vnd.github+json"
              ],
              "default": "application/vnd.github.raw+json"
            },
            "description": "Use raw+json for files and github+json for directories."
          }
        ],
        "responses": {
          "200": {
            "description": "Raw text file or JSON directory listing",
            "content": {
              "application/vnd.github.raw+json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ContentItem"
                      }
                    },
                    {
                      "type": "object",
                      "additionalProperties": true
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Rate limit or access denied"
          },
          "404": {
            "description": "Repository, path, or ref not found"
          }
        }
      }
    },
    "/repos/{owner}/{repo}/contents": {
      "get": {
        "operationId": "listRegisteredRepositoryRoot",
        "summary": "List the root of a registered repository",
        "description": "Use only when necessary. Prefer declared entrypoints and skill path discovery.",
        "x-openai-isConsequential": false,
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ref",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Root directory listing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContentItem"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Rate limit or access denied"
          },
          "404": {
            "description": "Repository or ref not found"
          }
        }
      }
    },
    "/repos/{owner}/{repo}/git/trees/{tree_sha}": {
      "get": {
        "operationId": "discoverRegisteredSkillPaths",
        "summary": "Discover skill paths in a registered repository",
        "description": "Use only when registry.yaml declares skill_globs or reference_globs and an exact path must be discovered. Use tree_sha=HEAD and recursive=1 unless the registry specifies another ref.",
        "x-openai-isConsequential": false,
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tree_sha",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "HEAD"
            }
          },
          {
            "name": "recursive",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ],
              "default": "1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recursive Git tree",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sha": {
                      "type": "string"
                    },
                    "truncated": {
                      "type": "boolean"
                    },
                    "tree": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TreeItem"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Rate limit or access denied"
          },
          "404": {
            "description": "Repository or tree not found"
          },
          "409": {
            "description": "Repository is empty or unavailable"
          },
          "422": {
            "description": "Invalid tree request"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ContentItem": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "sha": {
            "type": "string"
          },
          "size": {
            "type": "integer"
          },
          "type": {
            "type": "string"
          },
          "html_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "download_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "url": {
            "type": "string"
          }
        }
      },
      "TreeItem": {
        "type": "object",
        "properties": {
          "path": {
            "type": "string"
          },
          "mode": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "sha": {
            "type": "string"
          },
          "size": {
            "type": [
              "integer",
              "null"
            ]
          },
          "url": {
            "type": "string"
          }
        }
      }
    }
  }
}