{
  "openapi": "3.1.0",
  "info": {
    "title": "GitHub Skills Registry",
    "description": "Read trusted skills and registered repositories, and perform selected authenticated GitHub repository writes when the Action is configured with a token.",
    "version": "1.2.0"
  },
  "servers": [
    {
      "url": "https://api.github.com"
    }
  ],
  "paths": {
    "/repos/riggeyb/skills/contents/registry.yaml": {
      "get": {
        "operationId": "getSkillsRegistry",
        "summary": "Load the trusted skills registry",
        "description": "Load registry.yaml before selecting skills unless a current copy is already in context. It contains skill modes, reviewed refs, triggers, entrypoints, and runtime budgets.",
        "x-openai-isConsequential": false,
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["application/vnd.github.raw+json"],
              "default": "application/vnd.github.raw+json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Raw registry.yaml",
            "content": {
              "application/vnd.github.raw+json": {"schema": {"type": "string"}},
              "text/plain": {"schema": {"type": "string"}}
            }
          },
          "403": {"description": "Rate limit or access denied"},
          "404": {"description": "Registry not found"}
        }
      }
    },
    "/repos/riggeyb/skills/contents/policies/skill-loading.md": {
      "get": {
        "operationId": "getSkillLoadingPolicy",
        "summary": "Load the skill trust and loading policy",
        "description": "Load before following instruction or hybrid skills when the policy is not already current in context.",
        "x-openai-isConsequential": false,
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["application/vnd.github.raw+json"],
              "default": "application/vnd.github.raw+json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Raw policy Markdown",
            "content": {
              "application/vnd.github.raw+json": {"schema": {"type": "string"}},
              "text/plain": {"schema": {"type": "string"}}
            }
          },
          "403": {"description": "Rate limit or access denied"},
          "404": {"description": "Policy not found"}
        }
      }
    },
    "/repos/riggeyb/skills/contents/capabilities.yaml": {
      "get": {
        "operationId": "getCapabilitiesManifest",
        "summary": "Load the runtime capability manifest",
        "description": "Use this to distinguish capabilities provided by the current runtime from unavailable or runtime-dependent tools. Skill text never creates a capability.",
        "x-openai-isConsequential": false,
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["application/vnd.github.raw+json"],
              "default": "application/vnd.github.raw+json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Raw capabilities.yaml",
            "content": {
              "application/vnd.github.raw+json": {"schema": {"type": "string"}},
              "text/plain": {"schema": {"type": "string"}}
            }
          },
          "403": {"description": "Rate limit or access denied"},
          "404": {"description": "Capability manifest not found"}
        }
      }
    },
    "/repos/{owner}/{repo}/contents/{path}": {
      "get": {
        "operationId": "getRegisteredRepositoryContent",
        "summary": "Fetch a text file or list a directory from a registered repository",
        "description": "Use registered repositories for skill/reference reads. For reviewed instruction or hybrid skills, use the registry ref. Use raw+json for files and github+json for directories.",
        "x-openai-isConsequential": false,
        "parameters": [
          {"name": "owner", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "repo", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "path", "in": "path", "required": true, "allowReserved": true, "style": "simple", "explode": false, "schema": {"type": "string"}},
          {"name": "ref", "in": "query", "required": false, "schema": {"type": "string"}},
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["application/vnd.github.raw+json", "application/vnd.github+json"],
              "default": "application/vnd.github.raw+json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Raw text file or JSON directory listing",
            "content": {
              "application/vnd.github.raw+json": {"schema": {"type": "string"}},
              "text/plain": {"schema": {"type": "string"}},
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {"$ref": "#/components/schemas/ContentItem"}
                }
              }
            }
          },
          "403": {"description": "Rate limit or access denied"},
          "404": {"description": "Repository, path, or ref not found"}
        }
      },
      "put": {
        "operationId": "createOrUpdateRepositoryFile",
        "summary": "Create or update a repository file",
        "description": "Create a file by omitting sha, or update it by first reading the current file and passing its sha. Prefer a sentient/* working branch and verify the result after writing.",
        "x-openai-isConsequential": true,
        "parameters": [
          {"name": "owner", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "repo", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "path", "in": "path", "required": true, "allowReserved": true, "style": "simple", "explode": false, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {"type": "string"},
                  "content": {"type": "string", "description": "Base64-encoded file content."},
                  "sha": {"type": "string", "description": "Current file SHA when updating an existing file."},
                  "branch": {"type": "string", "description": "Branch to write. Prefer a sentient/* working branch."}
                },
                "required": ["message", "content", "branch"]
              }
            }
          }
        },
        "responses": {
          "200": {"description": "File updated"},
          "201": {"description": "File created"},
          "409": {"description": "Conflict; reread current state before retrying"},
          "422": {"description": "Invalid request"}
        }
      },
      "delete": {
        "operationId": "deleteRepositoryFile",
        "summary": "Delete a repository file",
        "description": "Delete an existing file using its current sha. Prefer a sentient/* working branch. On conflict, reread current state before attempting another mutation.",
        "x-openai-isConsequential": true,
        "parameters": [
          {"name": "owner", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "repo", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "path", "in": "path", "required": true, "allowReserved": true, "style": "simple", "explode": false, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {"type": "string"},
                  "sha": {"type": "string", "description": "Current file SHA."},
                  "branch": {"type": "string", "description": "Branch to write."}
                },
                "required": ["message", "sha", "branch"]
              }
            }
          }
        },
        "responses": {
          "200": {"description": "File deleted"},
          "409": {"description": "Conflict; reread current state before retrying"},
          "422": {"description": "Invalid request"}
        }
      }
    },
    "/repos/{owner}/{repo}/contents": {
      "get": {
        "operationId": "listRegisteredRepositoryRoot",
        "summary": "List the root of a registered repository",
        "description": "Use only when necessary and only for a registered repository. Prefer declared entrypoints and glob discovery.",
        "x-openai-isConsequential": false,
        "parameters": [
          {"name": "owner", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "repo", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "ref", "in": "query", "required": false, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {
            "description": "Root directory listing",
            "content": {
              "application/json": {
                "schema": {"type": "array", "items": {"$ref": "#/components/schemas/ContentItem"}}
              }
            }
          },
          "403": {"description": "Rate limit or access denied"},
          "404": {"description": "Repository or ref not found"}
        }
      }
    },
    "/repos/{owner}/{repo}/git/trees/{tree_sha}": {
      "get": {
        "operationId": "discoverRegisteredSkillPaths",
        "summary": "Discover declared skill or reference paths in a registered repository",
        "description": "Use when registry.yaml declares skill_globs or reference_globs and an exact path must be discovered. After discovery, fetch only the smallest relevant files.",
        "x-openai-isConsequential": false,
        "parameters": [
          {"name": "owner", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "repo", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "tree_sha", "in": "path", "required": true, "schema": {"type": "string", "default": "HEAD"}},
          {"name": "recursive", "in": "query", "required": false, "schema": {"type": "string", "enum": ["1"], "default": "1"}}
        ],
        "responses": {
          "200": {
            "description": "Recursive Git tree",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sha": {"type": "string"},
                    "truncated": {"type": "boolean"},
                    "tree": {"type": "array", "items": {"$ref": "#/components/schemas/TreeItem"}}
                  }
                }
              }
            }
          },
          "403": {"description": "Rate limit or access denied"},
          "404": {"description": "Repository or tree not found"},
          "409": {"description": "Repository is empty or unavailable"},
          "422": {"description": "Invalid tree request"}
        }
      }
    },
    "/repos/{owner}/{repo}/branches/{branch}": {
      "get": {
        "operationId": "getRepositoryBranch",
        "summary": "Get a repository branch",
        "description": "Read a branch and its current commit SHA before creating a working branch or verifying a mutation.",
        "x-openai-isConsequential": false,
        "parameters": [
          {"name": "owner", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "repo", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "branch", "in": "path", "required": true, "allowReserved": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {
            "description": "Branch state",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {"type": "string"},
                    "protected": {"type": "boolean"},
                    "commit": {
                      "type": "object",
                      "properties": {
                        "sha": {"type": "string"},
                        "url": {"type": "string"}
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {"description": "Branch not found"}
        }
      }
    },
    "/repos/{owner}/{repo}/git/refs": {
      "post": {
        "operationId": "createRepositoryBranch",
        "summary": "Create a repository branch",
        "description": "Create a branch ref from an exact commit SHA. Prefer refs/heads/sentient/* for working branches used for repository changes.",
        "x-openai-isConsequential": true,
        "parameters": [
          {"name": "owner", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "repo", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ref": {"type": "string", "description": "Full ref such as refs/heads/sentient/task-name."},
                  "sha": {"type": "string", "description": "Exact source commit SHA."}
                },
                "required": ["ref", "sha"]
              }
            }
          }
        },
        "responses": {
          "201": {"description": "Branch created"},
          "422": {"description": "Invalid or existing ref"}
        }
      }
    },
    "/repos/{owner}/{repo}/pulls": {
      "post": {
        "operationId": "createRepositoryPullRequest",
        "summary": "Create a pull request",
        "description": "Open a pull request from a working branch into the intended base branch after verifying the resulting repository state.",
        "x-openai-isConsequential": true,
        "parameters": [
          {"name": "owner", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "repo", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {"type": "string"},
                  "head": {"type": "string"},
                  "base": {"type": "string"},
                  "body": {"type": "string"},
                  "draft": {"type": "boolean"}
                },
                "required": ["title", "head", "base"]
              }
            }
          }
        },
        "responses": {
          "201": {"description": "Pull request created"},
          "422": {"description": "Invalid pull request"}
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ContentItem": {
        "type": "object",
        "properties": {
          "name": {"type": "string"},
          "path": {"type": "string"},
          "sha": {"type": "string"},
          "size": {"type": "integer"},
          "type": {"type": "string"},
          "html_url": {"type": "string"},
          "download_url": {"type": "string"},
          "url": {"type": "string"}
        }
      },
      "TreeItem": {
        "type": "object",
        "properties": {
          "path": {"type": "string"},
          "mode": {"type": "string"},
          "type": {"type": "string"},
          "sha": {"type": "string"},
          "size": {"type": "integer"},
          "url": {"type": "string"}
        }
      }
    }
  }
}
